<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>发布快递</title>
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./css/form.css">
</head>

<body>

	<div class="form-style-10">
		<h1>发布快递</h1>
		<form method="post" action="/re_form" novalidate>
			<div class="section">快递信息</div>
			<div class="inner-wrap">
				<label>快递编号 <input type="text" name="field1" /></label>
				<label>物流公司名称 <input type="text" name="field1" /></label>
				<label>物流公司信息 <input type="text" name="field1" /></label>
				<label>发件日期 <input type="text" name="field1" /></label>
				<label>预计配送时间 <input type="text" name="field1" /></label>
				<label>快递批次号 <input type="text" name="field1" /></label>
				<label>快递重量<input type="text" name="field1" /></label>
				<label>快递费用 <input type="text" name="field1" /></label>
				<label>投件人<input type="text" name="field1" /></label>
				<label>投件人所在地<input type="text" name="field1" /></label>
			</div>
			<div class="button-section">
				<input type="submit" name="提交" />
				<input type="button" class="submitButton" style="margin-left: 2%" value="返回" onclick="javascrtpt:window.location.href='/index'">
			</div>
		</form>
	</div>

</body>

</html>