<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>发布快递</title>
	<link rel="icon" sizes="any" href="./images/scut.jpg">
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./css/form.css">
	<link href="./css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">快递溯源</a>
				</div>
				
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="page-scroll">
							<a href="/form">发布快递</a>
						</li>
						<li class="page-scroll">
							<a href="/search">查询快递</a>
						</li>
						<li class="page-scroll">
							<a href="/transit_form">添加中转</a>
						</li>
						<li class="page-scroll">
							<a href="/business_search">查询中转</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
			
	<div class="form-style-10">
		<h1>发布快递</h1>
		<form method="post" action="/re_form" novalidate>
			<div class="section">快递信息</div>
			<div class="inner-wrap">
				<label>快递编号 <input type="text" name="field1" /></label>
				<label>物流公司名称 <input type="text" name="field1" /></label>
				<label>物流公司信息 <input type="text" name="field1" /></label>
				<label>发件日期 <input type="text" name="field1" /></label>
				<label>预计配送时间 <input type="text" name="field1" /></label>
				<label>快递批次号 <input type="text" name="field1" /></label>
				<label>快递重量<input type="text" name="field1" /></label>
				<label>快递费用 <input type="text" name="field1" /></label>
				<label>投件人<input type="text" name="field1" /></label>
				<label>投件人所在地<input type="text" name="field1" /></label>
			</div>
			<div class="button-section">
				<input type="submit" name="提交" />
				<input type="button" class="submitButton" style="margin-left: 2%" value="返回" onclick="javascrtpt:window.location.href='/'">
			</div>
		</form>
	</div>

</body>

</html>