<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>快递溯源</title>
	<link rel="stylesheet" type="text/css" href="./css/index.css" />
</head>
<% if (messages.success) { %>
<div class="flash flash-success"><%= messages.success %></div>
<% } %>
<div class="hand" style="margin-left: 13.5%">
	<table width="100%" height="100%" halign="center">
			<tr>
				<td halign="center" valign="middle">
					<div class="card suitdiamonds" onclick="window.location='/form';">
						<img src="./images/submit.png" class="image-icon">
						<p>发布快递</p>
					</div>
				</td>
				<td halign="center" valign="middle">
				<div class="card suitdiamonds" onclick="window.location='/search';">
					<img src="./images/ques.jpg" class="image-icon">
					<p>查询快递</p>
				</div>
				</td>
				<td halign="center" valign="middle">
				<div class="card suitdiamonds" onclick="window.location='/transit_form';">
					<img src="./images/transit.png" class="image-icon">
					<p>添加中转</p></td>
				</div>
				<td halign="center" valign="middle">
				<div class="card suitdiamonds" onclick="window.location='/business_search';">
					<img src="./images/business.png" class="image-icon">
					<p>中转查询</p>
				</div>
				</td>
			</tr>
	</table>
</div>
</html>