<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>添加中转</title>
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href="/css/transit_form.css" type='text/css'>
</head>

<body>
	<div class="form-style-10">
		<h1>添加中转</h1>
		<form method="post" action="/re_transit_form" novalidate>
			<div class="section">添加中转</div>
			<div class="inner-wrap">
				<label>快递编号<input type="text" name="field1" /></label>
				<label>到达时间<input type="text" name="field1" /></label>
				<label>中转站地址<input type="text" name="field1" /></label>
				<label>处理人员信息<input type="text" name="field1" /></label>
				<label>快递包状态<input type="text" name="field1" /></label>
				<label>出发时间<input type="text" name="field1" /></label>
				<label>下一个站点地址<input type="text" name="field1" /></label>
				<label>转运/派送<input type="text" name="field1" /></label>
				<label>运送方式<input type="text" name="field1" /></label>
				<label>交通工具信息<input type="text" name="field1" /></label>
				<label>司机信息<input type="text" name="field1" /></label>
			</div>
			<div class="button-section">
				<input type="submit" name="Sign Up" />
			</div>
		</form>
	</div>

</body>

</html>