body {
	background-image: url("../images/index.jpg");
	background-size: cover;
	margin: auto;
	align-content: center;
}

.hand {
	width: 1200px;
	height: 260px;
	position: relative;
	top: 150px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	display: flex;
	text-align: center;
}

.card {
	position: relative;
	float: left;
	margin-right: 50px;
	text-align: left;
	width: 185px;
	height: 260px;
	border-radius: 10px;
	filter:alpha(Opacity=80);
	-moz-opacity:0.7;
	opacity: 0.7;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	background: #7787bb;
	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.card_f {
	position: relative;
	float: left;
	margin-right: 50px;
	margin-left: 10.5%;
	text-align: left;
	width: 185px;
	height: 260px;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	/*opacity*/
	filter:alpha(Opacity=80);
	-moz-opacity:0.7;
	opacity: 0.7;
	background: #7787bb;
	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}


.card img {
	border-radius: 50%;
	margin-top: 20px;
	margin-left: 20px;
	width: 146px;
	height: 150px;
	overflow: scroll;
}

.card_f img {
	border-radius: 50%;
	margin-top: 20px;
	margin-left: 20px;
	width: 146px;
	height: 150px;
	overflow: scroll;
}

.card p {
	position: absolute;
	margin: auto;
	margin-left: 44px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	font: 25px/50px Georgia, Times New Roman, serif;
}

.card_f p {
	position: absolute;
	margin: auto;
	margin-left: 44px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	font: 25px/50px Georgia, Times New Roman, serif;
}
.flash {
	padding: 15px 20px;
	border: 1px solid;
	border-radius: 3px;
}

.flash-success{
	background-color: #fff;
	border-color: #c3e6cb;
	color: #155724;
	text-align: center;
}
